apex==0.9.10dev
fairscale==0.4.13
iopath==0.1.10
numpy==1.25.0
numpy==1.24.3
omegaconf==2.3.0
opencv_python==4.7.0.72
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
Pillow==10.0.0
pycocoevalcap==1.2
pycocotools==2.0.6
PyYAML==6.0
PyYAML==6.0.1
Requests==2.31.0
spacy==3.5.2
tensorflow==2.13.0
timm==0.4.12
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.29.1
webdataset==0.2.48
